<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row">
        <div class="col">
          <div style="width:300px;" id="reader"></div>
        </div>
        <div class="col" style="padding:30px;">
          <h4>SCAN RESULT</h4>
          <div id="result">Result Here</div>
        </div>
      </div>


      <audio id="audio" controls>
        <source src="{% static 'audio/1.mp3' %}" type="audio/mp3">
      </audio>


    <script src="https://unpkg.com/html5-qrcode"></script>

    <script type="text/javascript">
        function onScanSuccess(qrCodeMessage) {
            audio()
            document.getElementById('result').innerHTML = '<span class="result">'+qrCodeMessage+'</span>';
        }
        function onScanError(errorMessage) {
          //handle scan error
        }
        var html5QrcodeScanner = new Html5QrcodeScanner(
            "reader", { fps: 10, qrbox: 250,showTorchButtonIfSupported:true});
        html5QrcodeScanner.render(onScanSuccess, onScanError);




        function audio(){
          var audio = document.getElementById('audio');
          audio.play();
        }
        </script>
</body>
</html>