{% extends 'home/base.html' %}
{% block content %}
{% include 'include/owner_menu.html' %}

    <!-- include libraries(jQuery, bootstrap) -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!-- include summernote css/js -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<div class="container">
    <a href="/product/all_product/" class="btn btn-info my-5">  Back</a>
   </div>
<br>

<div class="container">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    
                <div class="mb-3">
                    <label for="product_name">Product Name</label>
                    <input type="text" name="product_name" id="product_name" class="form-control" value="{{p.product_name}}">
                  </div>
                  
                  
                  <div class="mb-3">
                    {% if p.image_1.url != '' %}
                    <img src='{{p.image_1.url}}' alt="" height="60px" >
                    {% endif %}
                    <label for="price" class="form-label">Image 1</label>
                    <input type="file" name="image_1" >
                  </div>

    
                  <div class="mb-3">
                    {% if p.image_2.url != '' %}
                    <img src='{{p.image_2.url}}' alt="" height="60px" >
                    {% endif %}
                    <label for="price" class="form-label">Image 2</label>
                    <input type="file" name="image_2" >
                  </div>
    
                  <div class="mb-3">
                    {% if p.image_3.url != '' %}
                    <img src='{{p.image_3.url}}' alt="" height="60px" >
                    {% endif %}
                    <label for="price" class="form-label">Image 3</label>
                    <input type="file" name="image_3" >
                  </div>

                  <div class="mb-3">
                    {% if p.image_4.url != '' %}
                    <img src='{{p.image_4.url}}' alt="" height="60px" >
                    {% endif %}
                    <label for="price" class="form-label">Image 4 </label>
                    <input type="file" name="image_4" >
                  </div>


                  <div class="mb-3">
                        <label for="price" class="form-label">price</label>
                        <input type="number" id="price" name="price" class="form-control" value="{{p.price}}">
                      </div>
    
                      <div class="mb-3">
                        <label for="courier_charges_maharashtra" class="form-label">Courier Charges Maharashtra</label>
                        <input type="number" id="courier_charges_maharashtra" name="courier_charges_maharashtra" value="{{p.courier_charges_maharashtra}}" class="form-control">
                      </div>
                      
                      <div class="mb-3">
                        <label for="courier_charges_other_states" class="form-label">Courier Charges Other States</label>
                        <input type="number" id="courier_charges_other_states" name="courier_charges_other_states" value="{{p.courier_charges_other_states}}" class="form-control">
                      </div>
    
                      <div class="mb-3">
                        <label for="discription" class="form-label">discription</label>
                        <textarea id="summernote" name="editordata" >{{p.discription}}</textarea>
                      </div>

                 
                <div class="modal-footer">

                  <button type="submit" class="btn btn-primary" name="Add">Submit</button>
                </div>
     
    </form>

</div>

<script>

$(document).ready(function() {
  $('#summernote').summernote();
});


</script>


    {% endblock content %}