{% extends 'home/base.html' %}
{% block head %}
{% endblock head %}
{% load static %}
{% block content %}
<div class="hi">
{% include 'include/owner_menu.html' %}
</div>
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .print_div{
        padding: 10px;
        height: 6in;
        width: 4in;
        margin: auto;
        
        overflow:hidden;
    }
    .print_div_in{
        padding: 10px;
        height: 100%;
        width: 100%;
        border: 1px solid black;
    }
    .address{
        textarea{
            width: 100%;
            padding: 10px;
            border: none;
            height: auto;
            padding-top: 0;
            font-weight: 600;
            line-height: 25px;
        }
    }
    #button{
        display: none;
    }
    h6 b{
        font-weight: 800;
    }
    img{
        height: 50px;
        width: 50px;

    }
</style>
<style media="print">
    .hi{
      display: none;
    }
    .list_iteam,.list_head{
      display: grid;
      grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    }
  </style>


<div class="hi text-center">
    <br>
    <button onclick="window.print()" id="button" class="btn btn-primary">Print</button>
</div>
<div class="print_div">
    <div style="border: 1px solid black;padding: 2px;">
        <div class="print_div_in">
            <div class="address">
                <h6><b>To ,</b></h6>
                <textarea rows="8" oninput="check_address()" id="address" placeholder="Enter Address Here"></textarea>
            </div>
            <hr>
            <div class="owner_detail container">
                <p style="font-weight: 600;margin-bottom: -7px;"><h6><b>From</b>,</h6> Narayaniorder.com</p>
                <p style="margin-top: -15px;">Poonam Ashish Shinde <br>A/p-Veet, Tal-KARMALA, Dist-Solapur, Maharashtra-413203</p>
                <p style="margin-top: -15px;">Mo- 7499067094</p>
            </div>
            <div class="m-2" style="display: flex;gap: 10px;justify-content: center;align-items: center;">
                <div><b>Thank You Visit Again</b></div>
                <div><img src="{% static 'img/qrcode.png' %}"></div>
            </div>
        </div>
    </div>
</div>

<script>
    function check_address(){
        address = document.getElementById('address').value;
        len = address.length
        if (len > 0){
            document.getElementById('button').style.display = 'unset'
        }else{
            document.getElementById('button').style.display = 'none'

        }
    }
</script>

{% endblock content %}